section{
	text-align: center;
	margin: 0 auto;
	width: 300px;
	height: 200px;
	border-radius: 1em;
	background-color: white;
	box-shadow: 5px 0px 5px #edede5,-5px 0px 5px #edede5,0px 5px 5px #edede5,0px -5px 5px #edede5;
}
.title{
	background-color: #95ce65;
	width: 300px;
	height: 30px;
	border-radius: 1em 1em 0 0;
}
.title>p{
	padding-top:5px;
	color: white;
	font-weight: bold;
}
.input input{
	margin:10px auto;
	display: block;
	width: 220px;
	height: 30px;
	border: 1px solid #94846d;
	border-radius: 5%;
}
.input input[type="text"]{
	background-repeat: no-repeat;
	background-size: 7%;
	background-position:7px 6px; 
	background-image: url(../psd18859/login.jpg);
	padding-left: 30px;
}
.input input[type="password"]{
	background-repeat: no-repeat;
	background-size: 7%;
	background-position:7px -50px; 
	background-image: url(../psd18859/login.jpg);
	padding-left: 30px;
}
.loginbutton{
	background-color: #edede5;
	height: 72px;
	border-radius: 0 0 1em 1em;
}
.button span{
	margin-top: 12px;
	background-color: #ff6766;
	box-shadow: 0 5px #ff4b4a;
	display: inline-block;
	width: 220px;
	height: 30px;
	color: white;
	font-weight: bold;
	background-image: url(../psd18859/login-button.png);
	background-repeat: no-repeat;
	background-position: 75px 12px;
	padding-top:15px;
	padding-left: 30px;
	background-size: 10%;
}
