.login{
	text-align: center;
	margin: 0 auto;
	width: 300px;
	height: 200px;
	border-radius: 1em;
	background-color: white;
	box-shadow: 5px 0px 5px #edede5,-5px 0px 5px #edede5,0px 5px 5px #edede5,0px -5px 5px #edede5;
}
.login .title{
	background-color: #95ce65;
	width: 300px;
	height: 30px;
	border-radius: 1em 1em 0 0;
}
.login .title>p{
	padding-top:5px;
	color: white;
	font-weight: bold;
}
.login .input input{
	margin:10px auto;
	display: block;
	width: 220px;
	height: 30px;
	border: 1px solid #94846d;
	border-radius: 5%;
}
.login .input input[type="text"]{
	background-repeat: no-repeat;
	background-size: 7%;
	background-position:7px 6px; 
	background-image: url(../psd18859/login.jpg);
	padding-left: 30px;
}
.login .input input[type="password"]{
	background-repeat: no-repeat;
	background-size: 7%;
	background-position:7px -50px; 
	background-image: url(../psd18859/login.jpg);
	padding-left: 30px;
}
.login .loginbutton{
	background-color: #edede5;
	height: 72px;
	border-radius: 0 0 1em 1em;
}
.login .button span{
	margin-top: 12px;
	background-color: #ff6766;
	box-shadow: 0 5px #ff4b4a;
	display: inline-block;
	width: 220px;
	height: 30px;
	color: white;
	font-weight: bold;
	background-image: url(../psd18859/login-button.png);
	background-repeat: no-repeat;
	background-position: 75px 12px;
	padding-top:15px;
	padding-left: 30px;
	background-size: 10%;
}
.search{
	width: 200px;
	height: 26px;
	margin: 20px auto;
	border-radius: 0.3em;
	box-shadow: 5px 0px 5px #edede5,-5px 0px 5px #edede5,0px 5px 5px #edede5,0px -5px 5px #edede5;
}
.search input{
	border-width: 0;
	padding-left: 10px;
	margin-top:3px;
	width: 100px;
	border-radius: 0.3em 0 0 0.3em;
}
.search span{
	display: block;
	float: right;
	background-color: #95CE65;
	width: 50px;
	height: 26px;
	background-image: url(../psd18859/search.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	border-radius: 0 0.3em 0.3em 0;
}
.share{
	width: 200px;
	background-color: white;
	box-shadow: 5px 0px 10px #edede5,-5px 0px 10px #edede5,0px 5px 10px #edede5,0px -5px 10px #edede5;
	border-radius: 0.3em;
	overflow: hidden;
	list-style: none;
	padding:0;
}
.share li{
	float: left;
	width: 66px;
	height: 30px;
	background-size: 280%;
	background-repeat: no-repeat;
	background-image: url(../psd18859/share.jpg);
}
.share :nth-child(1){
	background-position: 25px center; 
	border-right: 1px solid lightgray;
}
.share :nth-child(2){
	background-position: center;
}
.share :nth-child(3){
	background-position: -145px center;
	border-left: 1px solid lightgray;
}
.weather{
	margin: 20px auto;
	width: 250px;
	height: 100px;
	border-radius: 0.3em;
	box-shadow: 5px 0px 10px #edede5,-5px 0px 10px #edede5,0px 5px 10px #edede5,0px -5px 10px #edede5;
	overflow: hidden;
}
.weather>span{
	height: 100px;
	width: 100px;
	float: left;
	background-color: #6bcbca;
	border-radius: 0.3em 0 0 0.3em;
	background-image: url(../psd18859/weather6bcbca.png);
	background-repeat: no-repeat;
	background-position: center;
	
}
.weather ul{
	list-style-type: none;
	margin: 20px auto;
	color: #94846D;
}
.weather ul :nth-child(1){
	font-size: 30px;
}
.weather ul :nth-child(1) a{
	display: inline-block;
    padding-left: 23px;
    padding-bottom: 3px;
}
.info{
	margin: 20px auto;
	background-color: #edede5;
	width: 300px;
	border-radius: 0.3em;
	box-shadow: 5px 0px 10px #edede5,-5px 0px 10px #edede5,0px 5px 10px #edede5,0px -5px 10px #edede5;
}
.info .header{
	background-image: url(../psd18859/Twitterback.jpg);
	background-size:100%;
	background-repeat: no-repeat;
	border-radius: 0.3em;
	overflow: hidden;
}
.info .header .photo{
	float: left;
}
.info .header img{
	margin: 12px;
	border: 1px solid white;
	border-radius: 50%;
	padding: 5px;
}
.info .header .name ul{
	list-style: none;
	display: inline-block;
	margin-top: 30px;
	margin-left: -30px;
	color: white;
}
.info .header .name ul li:nth-child(1){
	font-size: 20px;
	font-weight: bold;
}
.info .amount ul{
	list-style: none;
	color:#afa492;
}
.info .amount>ul{
	overflow: hidden;
	padding: 0;
}
.info .amount>ul>li{
	float: left;
}
.info .amount>ul>li>ul{
	padding: 0;
}
.info .amount>ul>li>ul>li{
	text-align: center;
	width: 98px;
}
.info .amount>ul>li>ul li:nth-child(1){
	font-size: 20px;
}
.info .amount>ul>li>ul li:nth-child(2){
	font-size: 12px;
}
.info .amount>ul>li:nth-child(1) ul,.info .amount>ul>li:nth-child(2) ul{
	border-right: 1px solid #ddddd5;
}
.info .textarea{
	background-color: white;
	text-align: center;
	height: 60px;
	padding: 10px;
}
.info .textarea textarea{
	height:27px;
	width: 89%;
	padding: 15px;
	
}
.info .footer ul{
	list-style: none;
	overflow: hidden;
	margin: 10px 0 10px 6px;
	padding-left: 0;
}
.info .footer ul li{
	float: left;
}
.info .footer ul li{
	background-image: url(../psd18859/Twitterbutton.png);
	padding: 5px;
	background-repeat: no-repeat;
	margin: 0 5px;
	border-radius: 0.2em;
	background-size: 340%;
}
.info .footer ul li:nth-child(1){
	width: 45px;
	height: 25px;
	background-color: #94846d;
	background-position: 16px 6px;
}
.info .footer ul li:nth-child(2){
	width: 45px;
	height: 25px;
	background-color: #94846d;
	background-position: -52px 6px;
}
.info .footer ul li:nth-child(3){
	width: 140px;
	height: 25px;
	background-color: #ff6766;
	background-position:-153px 6px ;
	background-size: 136%;
}
.info .footer ul li:nth-child(3) a{
	margin: 4px 0 0 57px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}
.item{
	width: 300px;
	background-color: white;
	margin: 20px auto;
	border-radius: 0.3em;
	box-shadow: 5px 0px 10px #edede5,-5px 0px 10px #edede5,0px 5px 10px #edede5,0px -5px 10px #edede5;
}
.item>p{
	background-color: #95CE65;
	padding:10px 15px;
	color: white;
	border-radius: 0.3em 0.3em 0 0;
}
.item .information{
	overflow: hidden;
}
.item .information>img{
	margin-left: 10px;
	float: left;
	max-width: 40px;
}
.item .information>p{
	float: right;
	max-width: 250px;
	margin-top: 0;
	color: #94846D;
}
.item .button{
	overflow: hidden;
}
.item .button>div{
	background-color: #FF6766;
	width: 65px;
	height: 26px;
	border-radius: 0.3em;
	margin-left:10px;
	float: left;
	margin-top: 3px;
}
.item .button>div>p{
	text-align: center;
	padding-top: 4px;
	color:white;
	font-weight: bold;
	margin:0;
}
.item .button>ul{
	list-style: none;
	overflow: hidden;
	margin: 0;
	margin-right: 10px;
}
.item .button>ul>li{
	background-color: #94846D;
	width: 26px;
	height: 26px;
	margin: 4px 5px 10px 5px;
	float: right;
}
